body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    color: #fff;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #555;
}
.sidebar ul li:last-child {
    border-bottom: none;
}
.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
.item a{
    color: black;
    padding: 5px 10px; /* istediğiniz boşluk değerleri */
    text-decoration: none; /* alt çizgiyi kaldırır */
}

.item:hover {
    color: white; /* hover durumunda yazı rengini beyaz yap */
    background-color: #515151
    ; /* hover durumunda arka plan rengini siyah yap */
}



.update:hover{
    background-color: darkgray;
}



.message-container {
    position: fixed;
    top: 20px; /* İstediğiniz yükseklik değerini ayarlayabilirsiniz */
    right: 20px; /* İstediğiniz sağlık değerini ayarlayabilirsiniz */
    z-index: 999999999999999999999999999999999999999999999999999999999999999999; /* Diğer içeriğin üzerinde olmasını sağlamak için z-index değeri */
    background-color: #fff; /* Arka plan rengi */
    padding: 10px 20px; /* İçeriğin iç kenar boşluğu */
    border-radius: 5px; /* Kenar yuvarlaklığı */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Gölge */
  }
  
  .message {
    color: #333; /* Metin rengi */
    font-size: 16px; /* Metin boyutu */
  }


  .textarea-container {
    max-height: 200px; /* İstenilen yüksekliği ayarlayın */
    overflow-y: auto; /* İçerik dolunca scroll bar göster */
  }