.map {
    width: 100%;
    height: 100vh; 
    background-color: #f0f0f0; 
}
#type {
    position: absolute;
    top: 0px;
    width: 8rem;
    right: 3px; 
    z-index: 1; 
}
.modall{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    z-index: 20;
    background-color: #fff;
}
/* .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .modal-dialog {
    width: 500px;
  } */
  .modalDiv{
    border-radius: 20px;
  }

  #typeButton{
    position: absolute;
    top: 50px;
    width: 8rem;
    right: 3px; 
    z-index: 1;
  }
  #typeButton2{
    position: absolute;
    top: 300px;
    width: 8rem;
    right: 3px; 
    z-index: 1;
  }
  #typeButton6{
    position: absolute;
    top: 400px;
    width: 8rem;
    right: 3px; 
    z-index: 1;
  }

  td {
    border: 1px solid #ddd; /* Hücre sınırlarını belirt */
    padding: 8px; /* Hücre içeriğinden kenarlara boşluk ekler */
    max-width: 200px; /* Hücrenin maksimum genişliğini belirler */
    overflow: hidden; /* İçeriğin taşması durumunda gizler */
    text-overflow: ellipsis; /* İçeriğin taşması durumunda üç nokta (...) ekler */
    white-space: nowrap; /* İçeriğin satır atlamamasını sağlar */
  }
  .modalList{
    z-index: 2;
}
.modal-body {
    overflow-y: auto; 
    /* or overflow-y: scroll; */
    /* overflow: auto; or overflow-y: scroll; */
  }
.icon{
  cursor: pointer;
}


#typeButton3{
  position: absolute;
  top: 100px;
  width: 8rem;
  right: 3px; 
  z-index: 1;
}
#typeButton4{
  position: absolute;
  top: 200px;
  width: 8rem;
  right: 3px; 
  z-index: 1;
}



.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}